{{#if existUsers}}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Login</th>
      <th scope="col">Email</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{login}}</td>
        <td>{{email}}</td>
        <td>
          {{#if mime}}
            <img src="/{{login}}{{mime}}" class="list-avatar" alt="avatar">
            {{else}}
            <img src="/no-avatar.png" class="list-avatar" alt="no-avatar">
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  No data
{{/if}}